{% extends "base.html" %}

{% block breadcrumb %}
<h3 class="bd-title">welcome !</h3>

{% endblock %}


{% block content %}

<div class="container-fluid">

    <main class="col-md-9 bd-content" role="main">
        <p class="bd-lead">
           This applications is for creating and editing notes.
           Notes that user create are saved in our database and user can acess
           them whenever the want. User also have the ability to delete thier notes
           if they dont need them.After signing in user can use the application

        </p>
    </main>

</div>


{% endblock %}
