{% extends 'base.html' %}

{% block breadcrumb %}
Welcome {{ username }}
{% endblock %}

{% block content %}
<div class='container-fluid'>


    <a href="{% url 'new_note' %}"><button class="btn btn-primary">create new post </button></a>
    <br>
    <br>
    {% if not user_text_note %}
        you havent created any notes yet

    {% else %}
  <table class="table">
    <thead class="thead-inverse">

      <tr>
        <th>Title</th>
        <th>Created at</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
        {% for note_title in user_text_note %}
        <tr>
            <td> <a href="{% url 'display_note' note_title.pk %}">{{ note_title.title }}</a></td>
            <td>{{ note_title.created_at }}</td>
            {% if not note_title.updated_at %}
                <td>-</td>
            {% else %}
                <td>{{ note_title.updated_at }}</td>
            {% endif %}

            <td><a href="{% url 'edit_note' note_title.pk %}"><button class= 'btn btn-primary'> edit</button></a></td>

            <td><a href="{% url 'delete_note' note_title.pk %}"><button class='btn btn-danger'> delete </button></a></td>
        </tr>
        {% endfor %}


    </tbody>
  </table>
    {% endif %}

</div>
{% endblock %}
